body{
	background-image: url(1-1.jpg);
	background-attachment: fixed;
	background-size: cover;
}
*{
	margin: 0;
	padding: 0;
}
nav{
	height: 50px;
	background-color: gray;
}
#list_1{
	position: relative;
	list-style-type: none;
	display: flex;
	justify-content: center;
	background-color: gray;
	margin: 20px;
}
.list_1{
	font-size: 30pt;
	position: relative;
	right: 50px;
	color: black;
}
.list_1:hover{
	color: green;
}
.list_2{
	font-size: 30pt;
	color: black;
}
.list_2:hover{
	color: red;
}
.list_3{
	font-size: 30pt;
	position: relative;
	left: 40px;
	color: black;
}
.list_3:hover{
	color: blue;
}
.list_4{
	font-size: 30pt;
	position: relative;
	left: 70px;
	color: black;
}
.list_4:hover{
	color: yellow;
}
.block1{
	position: relative;
	top: 115px;
	left: 482px;
	height: 460px;
	width: 610px;
	border: 4px solid gray;
	cursor: pointer;
}
.block1:hover{
	transform: scale(1.1);
}
.b{
	list-style-type: none;
}
.a{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 50px;
	color: white;
}
.a:hover{
	color: green;
}
.block2{
	position: relative;
	bottom: 355px;
	left: 1100px;
	height: 460px;
	width: 610px;
	border: 4px solid gray;
	cursor: pointer;
}
.block2:hover{
	transform: scale(1.1);
}
.c{
	list-style-type: none;
}
.d{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 6px;
	color: white;
}
.d:hover{
	color: red;
}
.block3{
	position: relative;
	bottom: 355px;
	left: 390px;
	height: 300px;
	width: 450px;
	border: 4px solid gray;
	cursor: pointer;
}
.block3:hover{
	transform: scale(1.1);
}
.e{
	list-style-type: none;
}
.f{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 50px;
	color: white;
}
.f:hover{
	color: yellow;
}
.block4{
	position: relative;
	bottom: 665px;
	left: 850px;
	height: 300px;
	width: 450px;
	border: 4px solid gray;
	cursor: pointer;
}
.block4:hover{
	transform: scale(1.1);
}
.india{
	list-style-type: none;
}
.india_1{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 50px;
	color: white;
}
.india_1:hover{
	color: blue;
}
.block5{
	position: relative;
	bottom: 975px;
	left: 1305px;
	height: 300px;
	width: 450px;
	border: 4px solid gray;
	cursor: pointer;
}
.block5:hover{
	transform: scale(1.1);
}
.tailand{
	list-style-type: none;
}
.tailand_1{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 10px;
	color: white;
}
.tailand_1:hover{
	color: red;
}
.block6{
	position: relative;
	bottom: 975px;
	left: 462px;
	height: 460px;
	width: 610px;
	border: 4px solid gray;
	cursor: pointer;
}
.block6:hover{
	transform: scale(1.1);
}
.england{
	list-style-type: none;
}
.england_1{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 10px;
	color: white;
}
.england_1:hover{
	color: green;
}
.block7{
	position: relative;
	bottom: 1443px;
	left: 1080px;
	height: 460px;
	width: 610px;
	border: 4px solid gray;
	cursor: pointer;
}
.block7:hover{
	transform: scale(1.1);
}
.france{
	list-style-type: none;
}
.france_1{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 10px;
	color: white;
}
.france_1:hover{
	color: green;
}
.block8{
	position: relative;
	bottom: 1445px;
	left: 400px;
	height: 300px;
	width: 450px;
	border: 4px solid gray;
	cursor: pointer;
}
.block8:hover{
	transform: scale(1.1);
}
.australia{
	list-style-type: none;
}
.australia_1{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 10px;
	color: white;
}
.australia_1:hover{
	color: green;
}
.block9{
	position: relative;
	bottom: 1752px;
	left: 855px;
	height: 300px;
	width: 450px;
	border: 4px solid gray;
	cursor: pointer;
}
.block9:hover{
	transform: scale(1.1);
}
.span{
	list-style-type: none;
}
.span_1{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 10px;
	color: white;
}
.span_1:hover{
	color: green;
}
.block10{
	position: relative;
	bottom: 2060px;
	left: 1310px;
	height: 300px;
	width: 450px;
	border: 4px solid gray;
	cursor: pointer;
}
.block10:hover{
	transform: scale(1.1);
}
.canada{
	list-style-type: none;
}
.canada_1{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 10px;
	color: white;
}
.canada_1:hover{
	color: green;
}
.head1{
	font-size: 30pt;
	color: white;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 2000px;
	background-color: gray;
}
.head2{
	font-size: 15pt;
	color: white;
	background-color: gray;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 2000px;
}
.lifehack{
	position: relative;
	left: 500px;
	bottom: 2000px;
	background-color: gray;
	color: white;
	border: 2px solid;
	height: 300px;
	width: 300px;
	cursor: pointer;
}
.lifehack:hover{
	transform: scale(1.1);
}
.lifehack1{
	position: relative;
	bottom: 200px;
	font-size: 20pt;
	color: white;
}
.lifehack1:hover{
	color: yellow;
}
.lifehack2{
	position: relative;
	left: 804px;
	bottom: 2304px;
	background-color: gray;
	color: white;
	border: 2px solid;
	height: 300px;
	width: 300px;
	cursor: pointer;
}
.lifehack2:hover{
	transform: scale(1.1);
}
.lifehack3{
	position: relative;
	bottom: 200px;
	font-size: 20pt;
	color: white;
}
.lifehack3:hover{
	color: green;
}
.lifehack4{
	position: relative;
	left: 1108px;
	bottom: 2608px;
	background-color: gray;
	color: white;
	border: 2px solid;
	height: 300px;
	width: 300px;
	cursor: pointer;
}
.lifehack4:hover{
	transform: scale(1.1);
}
.lifehack5{
	position: relative;
	bottom: 200px;
	font-size: 20pt;
	color: white;
}
.lifehack5:hover{
	color: red;
}
.head3{
	font-size: 25pt;
	color: black;
	background-color: gray;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 2606px;
}
.block11{
	position: relative;
	bottom: 2605px;
	left: 400px;
	height: 300px;
	width: 450px;
	border: 4px solid gray;
	cursor: pointer;
}
.block11:hover{
	transform: scale(1.1);
}
.australia_2{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 10px;
	color: white;
}
.australia_2:hover{
	color: red;
}
.block12{
	position: relative;
	bottom: 2913px;
	left: 858px;
	height: 300px;
	width: 450px;
	border: 4px solid gray;
	cursor: pointer;
}
.block12:hover{
	transform: scale(1.1);
}
.new_zeland{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 5px;
	color: white;
}
.new_zeland:hover{
	color: yellow;
}
.block13{
	position: relative;
	bottom: 3221px;
	left: 1315px;
	height: 300px;
	width: 450px;
	border: 4px solid gray;
	cursor: pointer;
}
.block13:hover{
	transform: scale(1.1);
}
.new_gvinea{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 5px;
	color: white;
}
.new_gvinea:hover{
	color: orange;
}
.head4{
	font-size: 30pt;
	color: black;
	background-color: gray;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 3220px;
}
.block14{
	position: relative;
	bottom: 3221px;
	left: 10px;
	height: 400px;
	width: 550px;
	border: 4px solid gray;
	cursor: pointer;
}
.block14:hover{
	transform: scale(1.1);
}
.italia{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 5px;
	color: white;
}
.italia:hover{
	color: green;
}
.block15{
	position: relative;
	bottom: 3628px;
	left: 570px;
	height: 400px;
	width: 550px;
	border: 4px solid gray;
	cursor: pointer;
}
.block15:hover{
	transform: scale(1.1);
}
.niderlanda{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 5px;
	color: white;
}
.niderlanda:hover{
	color: brown;
}
.block16{
	position: relative;
	bottom: 4036px;
	left: 1130px;
	height: 400px;
	width: 550px;
	border: 4px solid gray;
	cursor: pointer;
}
.block16:hover{
	transform: scale(1.1);
}
.austria{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 5px;
	color: white;
}
.austria:hover{
	color: blue;
}
.block17{
	position: relative;
	bottom: 4035px;
	left: 350px;
	height: 450px;
	width: 610px;
	border: 4px solid gray;
	cursor: pointer;
}
.block17:hover{
	transform: scale(1.1);
}
.chexia{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 5px;
	color: white;
}
.chexia:hover{
	color: orange;
}
.block18{
	position: relative;
	bottom: 4493px;
	left: 965px;
	height: 450px;
	width: 610px;
	border: 4px solid gray;
	cursor: pointer;
}
.block18:hover{
	transform: scale(1.1);
}
.polsha{
	font-size: 25pt;
	position: relative;
	bottom: 120px;
	left: 5px;
	color: white;
}
.polsha:hover{
	color: yellow;
}
.head5{
	color: black;
	background: gray;
	font-size: 25pt;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 4400px;
}
.block19{
	background-color: gray;
	position: relative;
	bottom: 4390px;
}
.mexico{
	color: black;
	font-size: 20pt;
	position: relative;
	bottom: 70px;
	cursor: pointer;
}
.date{
	color: black;
	position: relative;
	right: 290px;
}
.block20{
	background-color: gray;
	position: relative;
	bottom: 4390px;
}
.mexico_1{
	color: black;
	font-size: 20pt;
	position: relative;
	bottom: 70px;
	cursor: pointer;
}
.date_1{
	color: black;
	position: relative;
	right: 250px;
}
.block21{
	background-color: gray;
	position: relative;
	bottom: 4390px;
}
.mexico_2{
	color: black;
	font-size: 20pt;
	position: relative;
	bottom: 70px;
	cursor: pointer;
}
.date_2{
	color: black;
	position: relative;
	right: 230px;
}
.block22{
	background-color: gray;
	position: relative;
	bottom: 4390px;
}
.mexico_3{
	color: black;
	font-size: 20pt;
	position: relative;
	bottom: 70px;
	cursor: pointer;
}
.date_3{
	color: black;
	position: relative;
	right: 350px;
}
.head6{
	color: black;
	background: gray;
	font-size: 25pt;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 4380px;
}
.block23{
	background-color: gray;
	position: relative;
	bottom: 4370px;
}
.brazilia{
	color: black;
	font-size: 20pt;
	position: relative;
	bottom: 70px;
	cursor: pointer;
}
.date_4{
	color: black;
	position: relative;
	right: 350px;
}
.block24{
	background-color: gray;
	position: relative;
	bottom: 4370px;
}
.brazilia_1{
	color: black;
	font-size: 20pt;
	position: relative;
	bottom: 70px;
	cursor: pointer;
}
.date_5{
	color: black;
	position: relative;
	right: 195px;
}
.button{
	position: relative;
	bottom: 4350px;
	left: 850px;
}
